<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ImageGalleryEntities" providerName="System.Data.SqlClient" connectionString="Server=.;Database=ImageGalleryDB;Trusted_Connection=true;" />
    <add name="AppHarborGaleryEntities" providerName="System.Data.SqlClient" connectionString="Server=Server=9416d278-823a-409d-8eef-a21b0147567c.sqlserver.sequelizer.com;Database=db9416d278823a409d8eefa21b0147567c;User ID=jqobtmgkvbvcncgs;Password=tnf6KDVhZjr23Wurzbdx68aYvBZvJvoWQZ2C82EZZzmJmvCdPHMDcZVtnoJhMzEC;" />
  </connectionStrings>
</configuration>